body {
    background-color: antiquewhite;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-cell {
    display: flex;
    justify-content: center;
}

.ag-center-cols-container {
    display: flex;
    width: 100% !important;
    justify-content: center;
}